<div class="container">
	<div class="row">
		<div class="col-sm-3">
			<div class="panel panel-default">
				<div class="panel-header">Create Principal</div>
				<div class="panel-body">
					<input ng-model="newPrincipalName" type="text" name="newPrincipalName" value="" placeholder="Principal Name">
					<button type="submit" class="btn btn-default" ng-click="createPrincipalFunc()">Create</button>	
				</div>
			</div>
								
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-10">
			<table class="table table-striped">
				<tr>
					<th>ID</th>
					<th>Principal Name</th>
					<th>Created By</th>
				</tr>
				<tr ng-repeat="principal in principals">
					<td>{{principal.id}}</th>
					<td>{{principal.name}}</th>
					<td>{{principal.author}}</th>
				</tr>
			</table>						
		</div>
	</div>
</div>